/*
    font-family: "Anton", cursive;
    font-family: "Open Sans", sans-serif;
    
    Test colour : #333;
    Dark blue : #345995
    Light blue : #4392F1;
    Red : #D7263D;
    Yellow : #EAC435;
    Orange : #F46036;
*/

@keyframes bimgsl {
	0% {
		background-position: 50% 0;
    }
	100% {
        background-position: 250% 0;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: white;
    color: #333;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-family: "Anton", cursive;
    font-weight: normal;
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 30px
}

.wrap {
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.spacer.v20 {
    height: 2vh;
}
.spacer.v40 {
    height: 4vh;
}
.spacer.v80 {
    height: 8vh;
}
.clear {
    clear: both;
}

#TestFeature {
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px;
}

#First {
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #F46036;
}

#First > div {
    padding: 15px;
}

#topMenu {
    background-color:#d8d8d8;
    height: 60px;
}

#topLinks .DropDown {
    margin-top: 1em;
    display: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #b6b6b6;
    border: none;
    cursor: pointer;
}

#topLinks {
    float: right;
}

#topLinks .Links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

#topLinks .Links {
    padding-top: 20px;
    padding: auto;
    margin:auto;
    float: left;
}

#topLinks .Links a {
    border-radius: 10px;
    color: #333;
    text-align: center;
    padding: 5px 16px 5px 16px;
    text-decoration: none;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

#topLinks .Links a:hover {
    padding: 15px 16px 15px 16px;
    background-color:#F46036;
    color: #4392F1;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    text-decoration: underline;
    border-style: none;
}

#topLinks .Links a.NotDone:hover {
    padding: 15px 16px 15px 16px;
    background-color:#D7263D;
    color: black;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    text-decoration: line-through;
    border-style: none;
}

#topMenu .logo {
    float: left;
    padding: 5px;
    font-size: 33px;
    color: #333;
    text-decoration: none;
}

#topMenu .logo:hover {
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    background-color: #4392F1;
    padding: auto auto auto auto;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    #topLinks .DropDown {
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
        position: relative;
        display: block;
    }
    #topLinks .Links{
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
        padding: 16px 0 16px 0;
        text-align: right;
        white-space: nowrap;
        position: absolute;
        right: 0em;
        visibility: collapse;
        background-color: #b6b6b6;
        opacity: 0%;
    }
    #topLinks .Links a {
        margin: 1px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        display: block;
    }
    #topLinks:hover .DropDown {
        border-radius: 10px 10px 0 0;
    }
    #topLinks:hover .Links {
        visibility: visible;
        opacity: 100%;
    }
}

.logo {
    font-family: "Anton", cursive;
}

.BannerWin {
    padding: auto;
    margin: auto;
	overflow: hidden;
	height: auto;
	width: 100%;
}

#banner {
    background-image: url("../img/tess/TessBanner.png");
    background-repeat: repeat-x;
    background-position: 50% 0%;
    background-size: 50%;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 20%;
    color: #333;
	animation: bimgsl 20s linear infinite;
}

#banner .NameTitle {
    text-align: center;
    margin-top: 0px;
}
#banner #action {
    font-size: 1.4vw;
    text-align: center;
    font-weight: bold;
    width: auto;
    margin: 0px auto 20px auto;
}
#banner #action a {
    -moz-transform: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    padding: 1em;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    background-color: #4392F1;
}
#banner #action a:hover {
    -moz-transform: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    background-color: #F46036;
    padding: 1em 2em;
    z-index: 100;
}
#banner #action a:active {
    /*-moz-transform: all 250ms ease-out;
        -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;*/
    background-color: #4392F1;
    color: #4392F1;
    padding: 100% 100%;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition-duration: 100ms;
    transition-timing-function: linear;
    position: relative;
    z-index: 100;
}

