/*
    font-family: "Anton", cursive;
    font-family: "Open Sans", sans-serif;
    
    Test colour : #333;
    Dark blue : #345995
    Light blue : #4392F1;
    Red : #D7263D;
    Yellow : #EAC435;
    Orange : #F46036;
*/
.ListGrid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 100%;
}